<ActionBar title="Contact Us" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
</ActionBar>
<StackLayout class="page">
    <StackLayout class="p-5">
        <StackLayout class="border">
            <Label text="Contact Information" class="h3 p-10"></Label>
            <StackLayout class="p-10">
                <Label text="Clear Water Bay Road" class="m-l-30"></Label>
                <Label text="Clear Water Bay, Kowloon" class="m-l-30"></Label>
                <Label text="HONG KONG" class="m-l-30"></Label>
                <Label text="Tel: +852 1234 5678" class="m-l-30"></Label>
                <Label text="Tel: +852 8765 4321" class="m-l-30"></Label>
                <Label text="Email: confusion@food.net" class="m-l-30"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
